{% extends 'basic.html' %}
{% block body %}
{% block css %}
{% endblock  %}

<section class="text-gray-600 body-font main-section">
  
  <div class="container px-5 py-14 mx-auto">
    {% if allProds %}
      <div class="all-item-section" style="display:flex; flex-direction: column; gap: 50px;">
        {% for i in allProds %}
        <div style="background-color:rgb(44, 44, 44); padding-left:0px; padding-top:20px; padding-right:0px; border-radius: 17px;">
          <div style="border-radius: 17px; margin-left:80px" id="carouselExampleIndicators" class="carousel slide background-image" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              {% for t in i.img.all|slice:"1:" %}
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              {% endfor %}
            </ol>
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="overlay"></div>
                <img class="d-block w-100" style="width:50%; height:auto; border-radius: 17px;" src="{{i.img.all.first.image.url}}" alt="First slide" id = "imgpr{{i.product_id}}">
              </div>
              {% for t in i.img.all|slice:"1:" %}
                <div class="carousel-item">
                  <div class="overlay"></div>
                  <img class="d-block w-100" style="width:50%; height:auto; border-radius: 17px;"src="{{t.image.url}}" alt="Second slide">
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
  
        <div style="margin-left: 70px; margin-top: 20px; padding-bottom: 30px;" class ="">
          <!-- <div class = "for-blur images-blur">
            {% for img in i.img.all %}
              <img src="{{img.image.url}}" alt="W3Schools.com" class = "rounded mx-auto d-block image_resize " ></div>
            {% endfor %} -->
          <div>
            <div class="name-of-product for-blur">
              <p>{{i.product_name}}</p>
            </div>
            <div class="for-flex-edit for-blur">
              <div class="price-of-product">             
                <p>₹ {{i.price}}</p>
              </div>
              <button class="edit-button product-id-{{i.product_id}}">
                <div class="edit-sec" style="display:flex; gap:10px;">
                  <span>Edit</span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-edit">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                  </svg>
                </div>            
              </button>
            </div>
        </div>
        </div>
      <div style="display:flex">
        <div class="edit-section-item product-id-{{i.product_id}}" style="padding-left:90px">
          <div class="form-group">
            <div class="section-for-name" style="display:flex; justify-content:space-between">
              <label class="colorto" for="{{i.product_id}}_name">Name</label>
            <svg xmlns="http://www.w3.org/2000/svg" style="width:30px; height:auto; margin-bottom:10px;" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 cancel-icon colorto">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            </div>
            <input class="form-control" type = "text"  name = "{{i.product_id}}_name" value = "{{i.product_name}}" disabled>
          </div>
          <div class="form-group">
            <label class="colorto" for = "{{i.product_id}}_price">Price</label>
            <input class="form-control" type ="Number" value = {{i.price}} disabled name = "{{i.product_id}}_price">
          </div>
          <div class="form-group">
            <label class="colorto" for="{{i.product_id}}_desc">Description</label>
            <input class="form-control" type ="text" value = "{{i.desc}}" disabled name = "{{i.product_id}}_desc">
          </div>
          <div class="form-group">
            <label class="colorto" for="{{i.product_id}}_category">Category</label>
            <input class="form-control" type = "text" value = "{{i.category}}" disabled name = "{{i.product_id}}_category">
          </div>
          <div class="form-group">
            <label class="colorto" for="{{i.product_id}}_subcat">SubCategory</label>
            <input class="form-control" type = "text" value = "{{i.subcategory}}" disabled name = "{{i.product_id}}_subcat">
          </div>
          <div class="form-group">
            <label class="colorto" for="{{i.product_id}}_image">Image</label>
            <div class="preview-section" style="display:flex;justify-content: space-around; ">
              <input type="file" id="{{i.product_id}}_image" accept="image/*" multiple>
              <button type="button" style="background-color: #868e96; padding: 4px 10px; border-radius: 8px;" onclick="previewImages('{{i.product_id}}_image', '{{i.product_id}}_preview')">Preview</button>
            </div>
            
            <div id="{{i.product_id}}_imageNames" class="imageNamesContainer"></div>
          </div>
          
          <div class = "edit-section">
            <button class = "edit_button_seller btn btn-primary btn-lg btn-block " data-pid = "{{i.product_id}}">Edit</button>
          </div>
          <div class = "inactive">
            <p>Are you sure?</p>
            <button class = "cancel_button_seller btn btn-danger " data-pid = "{{i.product_id}}">cancel</button>
            <button class = "save_button_seller btn btn-success" data-pid = "{{i.product_id}}">save</button>
          </div>
          <br>
        </div>
        <div id="{{i.product_id}}_preview" class="previewContainer"></div>
      </div>
      </div>
        
        {% endfor %}
      </div>
    {% else %}
    <div class ="">
      <h1 class = "h1">no arts have been added </h1>
      <a href = "/seller/add_new/" class = "link-primary h1">Add Now</a>

    </div>

    {% endif %}
    </div>
  </div>
</section>
{% endblock %}