{% extends 'shop/basic.html' %}
{% block title %} Signup {% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block body %}
{% for message in messages %}


<div class="" id="alertbox">
		<div class="flex justify-between items-center bg-{{ message.tags }}-200 relative text-{{ message.tags }}-600 py-3 px-3" role="alert">
			
			<span class="font-semibold text-{{message.tags}}-700">{{message}}</span>

			<span class="absolute top-0 bottom-0 right-0 px-4 py-3 closealertbutton">
				<svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20">
					<title>Close</title>
					<path
						d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
				</svg>
			</span>
		</div>
	</div>
{% endfor %}
    <div class="form-container">
        <form action="" id="form" method="POST" > {% csrf_token %}
            <div class="for-backgroundcolor">
                <h3>Create Account</h3>
                <class class="container-x">
                    <span class="icon-user">
                        <i class="fas fa-user"></i>
                    </span>
                    <input type="text" placeholder="Username(alphanumeric)" name="username" required >
                </class>
                
                <div class="container-x">
                    <span class="icon-user"> <i class="fas fa-user"></i></span>
                    <input type="name" placeholder="First Name" name="fname" required>
                </div>

                <div class="container-x">
                    <span class="icon-user"> <i class="fas fa-user"></i></span>
                    <input type="name" placeholder="Last Name" name="lname" required >
                </div>

                <div class="container-x">
                    <span class="icon-user"> <i class="fas fa-at"></i></span>
                    <input type="email" placeholder="Email" name="email" required >
                </div>

                <div class="container-x">
                    <span class="icon-user"><i class="fas fa-lock"></i></span>
                    <input type="password" placeholder="Password" name="password1" required >
                </div>

                <div class="container-x">
                    <span class="icon-user"><i class="fas fa-lock"></i></span>
                    <input type="password" placeholder=" Confirm password" name="password2" required >
                </div>
                <div class="toggle-btn">
                    <p class="seller"> Seller</p>
                    <label class="toggle-button">
                    <input type="checkbox" name = "is_buyer" value = "1">
                    <span class="slider"></span>
                    </label>
                    <p class="buyer"> Buyer</p>
                    <div class="just-to-make-margin"></div>
    
                </div>
                <input type="submit" value="Signup" >
            </div>
        </form>
    </div>
    {% endblock %}   
{% block js %}
{% endblock %}